name: Push image to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Login Docker Hub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Prepare build
        uses: docker/setup-buildx-action@v6
      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/apache-con-ci:latest
            ${{ secrets.DOCKERHUB_TOKEN }}/apache-con-ci:${{ github.sha }}